<div class="card">
  <img
    src="../../assets/images/harry.jpg"
    alt="Harry"
    width="90%"
    height="90%"
    class="image"
  />
  <h1>Harry Potter and the Philosopher's Stone </h1>
  <p class="price">20€</p>
  <p class="description">Loved by millions of readers worldwide, let the first story in the greatest children's book series of all time take you on an unforgettable journey. The hope and wonder of Harry Potter's world will make you want to escape to Hogwarts again and again. The magic starts here!
</p>
  <p>
    <span>Na stanju:</span>
    <button>Dodaj u korpu</button>
  </p>
</div>
